<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="1fb46722-3918-43af-b489-6c8b720a7ec9"
    Publisher="CN=seb"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="1fb46722-3918-43af-b489-6c8b720a7ec9" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>DemoApp</DisplayName>
    <PublisherDisplayName>seb</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="DemoApp.App">
      <uap:VisualElements
        DisplayName="DemoApp"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="DemoApp"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
    <DeviceCapability Name="humaninterfacedevice">
      <!-- Yocto-Temperature -->
      <Device Id="vidpid:24e0 000b">
        <Function Type="usage:ff00 0001" />
      </Device>
      <!-- Yocto-Light -->
      <Device Id="vidpid:24e0 0019">
        <Function Type="usage:ff00 0001" />
      </Device>
    </DeviceCapability>

  </Capabilities>
</Package>